#primary-nav li.active > a, #primary-nav li > a:hover, #primary-nav li.selected > a {
background: white!important;
    color: black !important;
}

#primary-nav li a {
  color: black !important;
}

h1, h2, h3, h4, h5, h6 {
color: #fae207 !important;
}

.button{
background: #4D9DE0 !important;
border: 2px solid #4D9DE0 !important;
}

.site-header a:hover, .site-header a:focus {
    color: black !important;
}

.button:hover, .button:focus {
    color: black !important;
}

/*.SliderImage {display: none;}
*/
img {vertical-align: middle;}

.hero-slider__item {
/*    position: absolute;

*/  
  -webkit-animation: slide 3s forwards;
    -webkit-animation-delay: 1s;
    animation: slide 3s forwards;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}

@-webkit-keyframes slide {
    100% { left: 0; }
}

@keyframes slide {
    100% { left: 0; }
}

/* Slideshow container */
.slideshow-container {
  max-width: auto;
  position: relative;
  margin: auto;
}


.site-footer {
    background: black !important;
  }
/* Caption text */


.sampleImage{
  width: 100% !important;
}
 
 .slidediv {
  background: transparent;  
       outline: none;
      position: relative;
      border: 2px solid #111;
/*      padding: 15px 50px;
*/ 
   width: 100%;

     overflow: hidden;
    color: white !important;
    }

  .slidediv:hover{cursor: pointer; 
  height:100% !important;  }


 /*button:before (attr data-hover)*/
    .slidediv:hover:before{ opacity:1;
/*      transform: translate(0,0);
*/    }
    .slidediv:before{
      content: attr(data-hover);
     
      position: absolute;
/*      top: 1.1em; 
*/

/*      box-shadow: inset 0 0 0 1000px rgb(0,0,0,0.4);
*/    height: 100%;
    left: 0;
      width: 100%;
     
      opacity: 0;
/*     transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);*/
/*   scale: ;
*/    }
      /*button div (button text before hover)*/
      /*.slidediv:hover div{opacity: 0; 
        transform: translate(100%,0);
     }*/
 
 .text{
  opacity: 0;
   text-transform: uppercase;
      letter-spacing: 3px;
      font-weight: 800;
/*      font-size: 1.2em;
*/ 
      font-size: 16px !important;
}

 .slidediv:hover .text {
  transition: .5s ease;
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;}
  

  .intro-block--secondary {
    background: #4d9de0 !important;
}

#footer {
    position: relative;
    margin: 0 auto;
    width: 100%;
    background: black;
    padding-top: 40px;
    padding-bottom: 20px;
    color:white !important;
}

/*a:focus, a:hover {
    color: #23527c;
    text-decoration: underline;
}*/

.bottom-highlight {
    background: url(http://sandeephomes.com/assets/images/bottom-highlight.jpg) top center;
    width: 100%;
    height: 300px;
    padding-top: 65px;
    border-top: -1px solid #989976;
/*    border-bottom: 1px solid #989976;
*/    border: 1px solid #989976;
/*    margin-top: 42px;
*/    font-family: bell-gothic;
    color: #fff;
    font-size: 23px;
    line-height: 42px;
}


@media (min-width: 992px){
.col-md-6 {
    width: 50%;
}
}
@media (min-width: 992px){
.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
    float: left;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.text-center {
    text-align: center;
}
}

@media only screen and (max-width: 990px) and (min-width: 150px){
.bottom-highlight {
    background: url(http://sandeephomes.com/assets/images/bottom-highlight.jpg) top center;
    width: 100%;
    height: auto;
    margin-top: 0px;
    padding: 25px 0px;
    background-size: cover;
}
}

@media only screen and (max-width: 990px) and (min-width: 150px){
.container {
    width: 100% !important;
    padding: 0px 15px !important;
}
}



.site-footer__primary .col-form {
    width: 50% !important;
}

.site-header__primary .right-col {
    /* width: 100%; */
    width: calc(100%) !important;
}


.site-header__primary .cells {
    /* width: 100%; */
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}



.site-header {
    position: relative;
    background: #4D9DE0 !important;
  }

.site-header.is-sticky {
  padding: 0px;
}

.topheader{
    background: #fae207 !important;
    padding: 0px !important;
}


.small-title{
    font-family: testfont,cursive !important;
    font-size: 40px;
    margin: 0px !important;
    color: white !important;
    }


.medium-title{
    margin: 0px !important;
    color: white !important;
    font-size: 20px !important;
    }

   





.site-header__primary .right-cols {
  width: calc(100% - 250px) !important;
}

@font-face {
   font-family: testfont;
   src: url("../css/SansationLight.woff");
}

/*
#primary-nav .sub-menu {
    background: #A2D3C2 !important;
}
*/


.slidediv:hover img{
    transform: scale(1.1);
    transition: transform 3s cubic-bezier(0.2, 0.96, 0.34, 1);
}

.back-to-top {
    background: #fae207;
}

.back-to-top:hover {
    background: #4d9cdf;
}


.site-footer__primary .col-form {
    width: 45% !important;
}

.site-footer__primary .col-menu{
    width: 20% !important;
}

.site-footer__primary .col-contact {
    width: 35% !important;
}

.footerintro-p{
/*  margin: 0px !important;
*/      margin-top: 50px !important;
}

.footerintro-p > li{
  display: block;
  padding: 0px !important;
}

.white{
  background: white !important;
}

.lightgrey{
  background: lightgrey !important;
}

 .textHomeSpecs{
    font-family: "Oswald", sans-serif !important;
    font-size: 20px !important;
    text-align: left;
    word-spacing: 5px;
    /* margin: 0px !important; */
    color: black !important;
    }

.aboutimage{
  border: none !important;
}

.hero-block--inner {
    min-height: 200px !important;
  }

.aboutp{
  margin-top: -100px;
}

.hero-block--inner .hero-content {
    margin-top: 0px !important;
}

.right-col.is-sticky {
  width: 100% !important;
}



.footertext{
  margin-top: 30px;
  font-style:italic;
  text-align: center;
  font-size: 16px !important;
}

.description{
  font-size: 16px !important;

}


.site-footer__primary .col__title {
    font-size: 24px !important;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid;
}

h1 {
    font-size: 48px !important;
}

.secondary-block h2 {
    margin-bottom: 45px;
    font-size: 42px;
    }

    h2{
          font-size: 38px;
    }


  .lightgrey{
    background: lightgrey !important;
  }

  .white{
    background: white !important;
    padding: 20px !important;
  }

  .btmheader.is-sticky {
  display: none !important;
}


.is-sticky #primary-nav li a {
    color: #000;
    padding: 10px 14px !important;
    font-size: 16px !important;
  }


  @media only screen and (max-width: 990px) and (min-width: 150px){

          .site-header__primary .right-cols {
                  width: 100% !important;
                  text-align: center !important;
                }

              .site-footer__primary .col-contact, .site-footer__primary .col-menu, .site-footer__primary .col-form  {
              
                  width: 100% !important;
              }

              .social-mediaheader{
                display: none !important;
              }

              .hero-block .button {
                   margin-top: 15px;
                   margin-bottom: 15px;
              }


              #primary-nav-button.mobile {
                         position: absolute;
                         height: 40px;
                         top: 7px !important;
                         margin: 0;
              }

               #primary-nav-button {
                        left: unset !important;

              }

              .description{
                font-size: unset !important;
              }

              .topheader {
                  background: #fae207 !important;
                  padding: 17px !important;
/*                  margin-top: 166px !important;
*/            }

              .site-footer__secondary .container {
                border-top: unset !important;
              }

              .textfaq {
                font-size: unset !important;
              }

              .buttonslider{
                margin-bottom: 50px;
              }

              .pic-right {
     float: unset !important; 
     margin-left: unset !important; 
}

}

/*.contact-block .map-col{
  width: 100% !important;
}
*/
.footerlogo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 135px !important;
}

.texthomespecs.active{
  background: #fae207 !important;
}

    .footerdescription{
                font-size: 16px !important;
              }


.form-wrapper .form-body .field input, .form-wrapper .form-body .field textarea, .form-wrapper .form-body .field select {
  font-size: 16px !important;
}
/*.btmheader.is-sticky , .topheader.is-sticky{
  display: none !important;
}*/



/*.btmheader{
  position: fixed !important;
}*/


}
/*
#primary-nav .sub-menu {
    background: #A2D3C2 !important;
}
*/
